<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form action="/login" method="post" enctype="multipart/form-data">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Sign Up">
    </form>
    {{ msg }}

</body>
</html>