<html>
<head>
<title>User Profile</title>
</head>
<body>
<p><h1 align="center">User Profile</h1></p>


<strong>Email:</strong>
{{ current_user.email }}<br/>

{% if current_user.profile %}

<img src="{{ url_for('static', filename='uploads/' + current_user.profile)}}" width="200" align="center">

{% else %}

<img src="{{ url_for('static', filename='uploads/default_profile_pic.png')}}" width="200" align="center">

{% endif %}

<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" class="form-control" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit" class="btn btn-info">
    </p>
</form>

 <form action="/delete_profile" method="get">
     <p>
  Delete your profile?
     </p>
  <button name="Delete Profile" type="submit" value={{current_user.id}}>Delete</button>

 </form>



</div>
</div>
</body>
</html>